<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login - System Monitoring Dashboard</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form id="login-form" method="POST" action="/login">
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
          <label for="username"></label><input type="text" id="username" name="username" placeholder="Username" autocomplete="nope" required>
      </div>
      <div class="input-field">
          <label for="password"></label><input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required>
      </div>
      <a href="#" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
	  <button type="submit" id="login-button">Sign In</button>
    </div>
  </form>
</div>
<!-- partial -->
    <script src="{{ url_for('static', filename='js/log-script.js') }}"></script>
</body>
</html>
